name: oci-build-and-push

on:
  workflow_call:
    inputs:
      app-name:
        required: false
        type: string
        default: "${{ github.event.repository.name }}"
      oci-registry:
        required: false
        type: string
        default: "ghcr.io/${{ github.repository_owner }}"
      dockerfile-path:
        required: false
        type: string
      helm-chart-dir:
        required: false
        type: string
      flux-bundle-dir:
        required: false
        type: string
      registry-username:
        required: false
        type: string
        default: ${{ github.actor }}
      helm-dependency-update:
        required: false
        type: boolean
        default: false
      helm-dependency-build:
        required: false
        type: boolean
        default: true
    secrets:
      registry-password:
        required: true

# TODO: Pin action version sha
jobs:
  OCI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Generate Version
        id: semver
        if: ${{ github.event_name != 'release' }}
        uses: ertia-io/actions/.github/actions/generate-version@main

      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@main

      - uses: azure/setup-helm@v4.3.0
        id: install

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ inputs.registry-username }}
          password: ${{ secrets.registry-password }}

      - name: Helm dependency update
        if: ${{ inputs.helm-dependency-update && inputs.helm-chart-dir != '' }}
        run: |
          helm dependency update ${CHART_PATH}
        env:
          CHART_PATH: "${{ inputs.helm-chart-dir }}/${{ inputs.app-name }}"

      - name: Helm dependency build
        if: ${{ inputs.helm-dependency-build && inputs.helm-chart-dir != '' }}
        run: |
          helm dependency build ${CHART_PATH}
        env:
          CHART_PATH: "${{ inputs.helm-chart-dir }}/${{ inputs.app-name }}"

      - name: Build and push dev artifacts
        uses: ertia-io/actions/.github/actions/oci-build-and-push@main
        if: ${{ github.event_name != 'release' }}
        with:
          app-name: "${{ inputs.app-name }}"
          oci-registry: "${{ inputs.oci-registry }}"
          dockerfile-path: "${{ inputs.dockerfile-path }}"
          helm-chart-parent-dir: "${{ inputs.helm-chart-dir }}"
          flux-bundle-path: "${{ inputs.flux-bundle-dir }}"
          version-tag: "${{ steps.semver.outputs.version }}"

      - name: Build and push release artifacts
        uses: ertia-io/actions/.github/actions/oci-build-and-push@main
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        with:
          app-name: "${{ inputs.app-name }}"
          oci-registry: "${{ inputs.oci-registry }}"
          dockerfile-path: "${{ inputs.dockerfile-path }}"
          helm-chart-parent-dir: "${{ inputs.helm-chart-dir }}"
          flux-bundle-path: "${{ inputs.flux-bundle-dir }}"
          version-tag: "${{ github.event.release.tag_name }}"

